<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>13sai-宓记{{if .Title}}-{{.Title}}{{end}}</title>
    <meta name="keywords" content="哦，宓记！13sai，菩提半音,sai,saiblog,php,web,websai">
    <meta name="description" content="哦，宓记！13sai&#39;s blog，分享有用的互联网知识，欢迎交流！">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="http://img.13sai.com/sai.ico">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>
<body>
    {{.LayoutContent}}
    {{.Side}}
    </div>
</div>
<footer class="text-center sai-footer">
    <div class="container">
        13sai © since2014 皖ICP备14021992号  sai0556@qq.com
    </div>
</footer>
</body>
</html>